body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #fadbd8;
    height: 100vh;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #e6b0aa;
    color: black;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    border-bottom: 1px solid gray;
    width: 100%;
    margin: 0 auto;
    align-items: center;

}

header h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    
}

nav ul li a:hover {
    background-color: white;
}

main {
    padding: 20px;
}

#home {
    text-align: center;
    padding: 35px 0;
}

#home h1 {
    font-size: 45px;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
    
}

#home p {
    font-size: 20px;
    color: #ec7063;
    margin-bottom: 25px;
    padding: 10px;
}

#home img {
    width: 375px;
    height:435px;
    border-radius: 48%;
   align-items: center;
    box-shadow: 0 0px 50px rgba(0,0,0,0.6);
}

#services {
    padding: 50px 0;
    
}
#services h2 {
    font-size: 36px;
    margin-bottom: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.service {
    text-align: center;
    margin-bottom: 35px;
    background-color: #fadbd8;
    border: 3px solid #ec7063;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 50px;
    box-shadow: 0 0px 15px rgba(0,0,0,0.6);
    
}
.service img {
    width: 550px;
    height: auto;
    object-fit: cover;
    border-radius: 125px;
    box-shadow: 0 0px 35px rgba(0,0,0,0.6);
}

.service h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #ec7063;
}

.service p {
    font-size: 17px;
    color: #ec7063;
}

#rentals {
    padding: 50px 0;
}
#rentals h2 {
    font-size: 36px;
    margin-bottom: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.rental-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fadbd8;
    border: 3px solid #ec7063;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 50px;
    box-shadow: 0 0px 15px rgba(0,0,0,0.6);
  
}

.rental-item img {
    width: 100%;
    max-width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 48%;
}


.rental-item h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #ec7063;
    text-align: center;
}

.rental-item p {
    font-size: 17px;
    color: #ec7063;
    text-align: center;
}

#about {
    padding: 50px 0;
}

#about h2 {
    font-size: 36px;
    margin-bottom: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#about p {
    font-size: 17px;
    color: #ec7063;
    text-align: center;
}

#contact {
    padding: 50px 0;
}

#contact h2 {
    font-size: 36px;
    margin-bottom: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#contact ul {
    list-style-type: none;
    margin-bottom: 20px;
    
}

#contact p {
    font-size: 17px;
    color: #ec7063;
    text-align: center;
}
#contact li {
    font-size: 17px;
    color: #ec7063;
    text-align: center;
}

footer {
    background-color: #e6b0aa;
    color: black;
    padding: 10px;
    text-align: center;
}

.btn {
    display: inline-block;
    background-color: #e6b0aa;
    color: #ec7063;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3 ease;
    text-align: center;
}

.btn:hover {
    background-color: white;
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }
    #home h1 {
        font-size: 24px;
    }
    #home p {
        font-size: 16px;
    }
    .service img {
        max-width: 200px;
        height: auto;
    }
    .service h3 {
        font-size: 18px;
    }
    .service p {
        font-size: 14px;
    }
    .rental-item img {
        max-width: 200px;
        height: auto;
    }
    .rental-item h3 {
        font-size: 18px;
    }
    .rental-item p {
        font-size: 14px;
    }
    #about p {
        font-size: 14px;
    }
    #contact li {
        font-size: 14px;
    }
}